html {
    font-family: sans-serif;
}

:root {
    --color1: #0061FE;
    --color2: #081653;
    --color3: #B4D0E6;
}

.flex {
    display: flex;
}

/*Header*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

header nav {
    color: grey;
    padding-inline: 1%;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

header nav > div {
    align-items: center;
    gap: 20px;
    height: 100%;
}

header ul {
    align-items: center;
    gap: 20px;
}

header ul li {
    padding-block: 25px;
    height: 100%;
    border: 3px solid transparent;
}

header nav ul li:hover {
    border-bottom: 3px solid var(--color2);
}

header div button {
    border: none;
    padding: 10px 20px;
    background-color: white;
    color: inherit;
    font-size: inherit;
}

.btn-blue {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: var(--color1);
}

.btn-blue:hover {
    background-color: var(--color2);
}

/*Main*/
/*Intro section*/
main .intro-section {
    padding: 3% 15% 10px 15%;
    background-color: var(--color3);
}

main .intro-section h1 {
    font-size: 60px;
    font-weight: 800;
}

main .intro-section .caption {
    flex-direction: column;
    align-items: flex-start;
    line-height: 160%;
    gap: 10px;
    width: 30%;
    margin-top: 20px;
    font-size: 1vw;
}

main .intro-section .caption i {
    font-size: 30px;
    margin-top: 20px;
}

main .intro-section figure {
    position: relative;
    padding-left: 5%;
    width: 65%;
}

main .intro-section img {
    width: 100%;
    position: absolute;
    top: 20px;
}

main > section:not(.intro-section) {
    width: 60%;
    margin-inline: auto;
}


/*Business plan section*/
main .business-plan-section {
    margin-top: 10%;
}

main .business-plan-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

main .business-plans {
    margin-top: 3%;
    justify-content: space-between;
}

main .business-plan {
    flex-basis: 30%;
    border: 1px solid rgba(172, 168, 168, 0.493);
}

main .business-plan-top {
    text-align: center;
    border-bottom: 1px solid rgba(172, 168, 168, 0.493);
    padding-block: 10px;
}

.business-plans .business-plan-bottom {
    padding: 30px 20px;
    font-size: 15px;
    gap: 30px;
    flex-direction: column;
}

.business-plans .business-plan-bottom h3 {
    font-size: 25px;
}

.business-plan-bottom .price, .business-plan-bottom .details, .business-plan-bottom .details2 {
    flex-direction: column;
    gap: 15px;
}

.business-plan-bottom .price span {
    color: gray;
}

.business-plan-bottom a {
    text-decoration: underline;
    color: blue;
}

hr {
    width: 20%;
}

.business-plan-bottom .details2 i {
    color: var(--color1);
}






