html {
    font-family: sans-serif;
}

:root {
    --color1: #0061FE;
    --color2: #081653;
    --color3: #B4D0E6;
    --color4: #000000;
}

.flex {
    display: flex;
}

/*Header*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

header nav {
    color: grey;
    padding-inline: 1%;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

header nav > div {
    align-items: center;
    gap: 20px;
    height: 100%;
}

header ul {
    align-items: center;
    gap: 20px;
}

header ul li {
    padding-block: 25px;
    height: 100%;
    border: 3px solid transparent;
}

header nav ul li:hover {
    border-bottom: 3px solid var(--color2);
}

header div button {
    border: none;
    padding: 10px 20px;
    background-color: white;
    color: inherit;
    font-size: inherit;
}

.btn-blue {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: var(--color1);
}

.btn-blue:hover {
    background-color: var(--color2);
}

/*Main*/
/*Intro section*/
main .intro-section {
    padding: 3% 15% 10px 15%;
    background-color: var(--color3);
}

main .intro-section h1 {
    font-size: 60px;
    font-weight: 800;
}

main .intro-section .caption {
    flex-direction: column;
    align-items: flex-start;
    line-height: 160%;
    gap: 10px;
    width: 30%;
    margin-top: 20px;
    font-size: 1vw;
}

main .intro-section .caption i {
    font-size: 30px;
    margin-top: 20px;
}

main .intro-section figure {
    position: relative;
    padding-left: 5%;
    width: 65%;
}

main .intro-section img {
    width: 100%;
    position: absolute;
    top: 20px;
}

main > section:not(.intro-section) {
    width: 60%;
    margin-inline: auto;
}


/*Business plan section*/
main .business-plan-section {
    margin-top: 10%;
}

main h2 {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 120%;
}

main .business-plans {
    margin-top: 3%;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .business-plan {
    flex-basis: 30%;
}

.business-plan, #business-plan4 {
    border: 1px solid rgba(172, 168, 168, 0.493);
}

main .business-plan-top {
    text-align: center;
    border-bottom: 1px solid rgba(172, 168, 168, 0.493);
    padding-block: 10px;
}

.business-plans .business-plan-bottom{
    padding: 30px 20px;
    font-size: 15px;
    gap: 30px;
}

.business-plan .business-plan-bottom {
    flex-direction: column;
}

.business-plan-bottom h3 {
    font-size: 25px;
}

.business-plan-bottom .details {
    flex-basis: 150px;
}

.business-plan-bottom .price, .business-plan-bottom .details, .business-plan-bottom .details2 {
    flex-direction: column;
    gap: 15px;
}

.business-plan-bottom .price span {
    color: gray;
}

.business-plan-bottom a {
    text-decoration: underline;
    color: blue;
}

.business-plan-bottom i {
    margin-right: 1%;
}

hr {
    width: 20%;
}

.business-plan-bottom .details2 i {
    color: var(--color1);
}

#business-plan4 {
    flex-basis: 100%;
    margin-top: 3%;

}

#business-plan4 .business-plan-bottom {
    justify-content: space-between;
}

#business-plan4 .business-plan-bottom .flex-left {
    flex-basis: 70%;
    flex-direction: column;
    gap: 30px;
}

/*Partner-section*/
.partner-section {
    margin-block: 8%;
    justify-content: space-between;
}

.partner-section figure {
    flex-basis: 58%;
}

.partner-section img {
    width: 100%;
}

.partner-section div {
    padding: 5%;
    flex-basis: 40%;
    flex-direction: column;
    line-height: 160%;
    gap: 20px;
}

.partner-section button {
    background-color: white;
    width: 40%;
    padding-block: 3%;
    border-color: gray;
    color: black;
}

.partner-section button:hover {
    background-color: whitesmoke;
}

/*Dropbox Business section*/
.dropbox-business-section {
    margin-bottom: 8%;
}

.dropbox-business-section .card-container {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 20%;
}

.dropbox-business-section .card {
    flex-basis: calc(100% / 3 - 30px);
    flex-direction: column;
    gap: 20px;

}

.dropbox-business-section img {
    width: 100%;
}

.dropbox-business-section a {
    text-decoration: underline;
    margin-top: 30px;
    color: blue;
    display: inline-block;
}

/*Footer*/
footer {
    background-color: #000000;
    color: gainsboro;
}

footer > div {
    width: 60%;
    margin: auto;
}

footer .footer-container {
    padding-block: 8%;
    justify-content: space-between;
}

footer .footer-container h3 {
    margin-bottom: 20px;
    color: white;
}

footer .footer-container li {
    margin-top: 15px;
}

footer hr {
    border-color: gainsboro;
    width: 10%;
}

footer > div div:last-child {
    padding-block: 30px;
}



